.navContainer{
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    
}
.groupButton{
    width: 120px;
    height: 50px ;
    border-radius: 25px;
    margin: 0px 20px;

}